@media (max-width: 768px){
    .header-logo{
        margin-left: 10px;
    }
        .logo{
            width: 96px;
        }
    .header-buttons{
        display: flex;
        justify-content: flex-end;
        gap: 8px;
        width: 50%;
        margin-right: 10px;
    }
}